:root {
	/* Colors */
	--clr-bg: #fbfbfb;
	--clr-light: #e5e5e6;
	--clr-muted: #a4a5a8;
	--clr-text: #181a1d;
	--clr-accent: #4985fa;
	/* Font size */
	--fs-large: 2.4rem;
	--fs-small: 1.8rem;
	/* Font weight */
	--fw-bold: 700;
	--fw-normal: 400;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Inter', sans-serif;
}

#root {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: var(--clr-bg);
}

p {
	font-size: var(--fs-small);
	font-weight: var(--fw-normal);
}
